@using QuestoesApplication.Models;

@model ProvaViewModel

<h1>Prova Enem</h1>

<form action="Api/Questoes/SalvarQuestoes" method="post">

    @foreach (var item in Model.Questoes)
    {
        <div>

            <h1>@item.Questao.Descricao</h1>

            @foreach (var opcao in item.Questao.Opcoes)
            {

                    <label>@opcao.Key</label>
                    <input type="radio" name="@item.Id"/>
            }
        </div>
    }
    <input type="submit" value="Botao" />
</form>
