@using QuestoesApplication.Models;

@model ProvaViewModel

<h1>Prova Enem</h1>

@foreach(var item in Model.Model){
    <div>

        <h1>@item.Questao.Descricao</h1>
        
        @foreach (var opcao in item.Questao.Opcoes)
        {
            <label>@opcao.Key</label>
            <input type="radio" name="@opcao.Value"/>
        }
    </div>
}