
@model ProvaViewModel

<link href="~/css/Questoes/Index.css?v=@DateTime.Now" rel="stylesheet" />

@{
    var contadorPagina = 0;
    var contador = 0;
}

        @Html.Raw(contadorPagina == Model.PaginaAtual ? "<div class='questao-visivel'>" : "<div class='questao-invisivel'>")   
            @foreach (var questao in Model.QuestoesDaPagina)
            {
                contador++;
                <partial name="~/Views/Shared/QuestaoPartial.cshtml" model="questao"/>

                if(contador == Model.QuestoesDaPagina.Count())
                {
                    <div style="display:flex; flex-direction:row; justify-content:center; justify-items:center">
                        @Html.ActionLink("Prev","QuestoesPaginadasPrev", Model)
                        @Html.ActionLink("Next","QuestoesPaginadasNext", Model)
                    </div>
                }

            }
        @Html.Raw("</div>")

